<h1>Listing Events</h1>

    <%= for event <- @events do %>
    <p><%= event.title %></p>
    <p><%= event.time %></p>
    <% end %>


<span><%= link "New Event", to: Routes.event_path(@conn, :new) %></span>
